@media (min-width:1900px){.banner-content{padding-top: 250px;}}
@media(min-width: 1355px) and (max-width: 1367px){.banner-area{background-position: -460px 0;}}
@media(min-width: 1023px) and (max-width: 1024px){
.overlay-bg{width: 93.9%;}
.banner-area{background-position: -260px 0;}
.menu-area, .gallery-area, .review-area{padding:30px 0px;}
.blog-area{padding:30px 0 0 0;}
.video{padding-bottom:20px;}
.video-right h6{padding-top:6%;}}
@media(min-width: 1023px) and (max-width: 1024px) and (orientation: portrait){.banner-area{height: 60vh;}}
@media (min-width:768px) and (max-width:991px){.header-top ul, .nav-menu-container{display:none;}
.hamburger{margin-top: 10px;}
.hamburger .bar{width: 35px; height: 4px;}
.bar2, .bar3{top: 13.5px;}
.bar3{right: -5px;}
.bar4{bottom: 0px;}
#header .container .row{align-items: inherit!important;}
.burger{display: block;}
#adapt, .menu-body{display: block;}
.gallery-area img{width: 100%;}
.counter-row{text-align:center;}
.blog-area .container .row .col-lg-6{text-align: center;}
.blog-area .container .row .col-lg-6 a .blog-title-name{justify-content: center;}
.title{flex-direction:column!important;}
.customer-name{margin:10px 0 0 0;}
.star{margin:0;}
.single-review p{text-align: center;}
.menu-area, .gallery-area, .review-area{padding:30px 0px;}
.blog-area{padding:30px 0 0 0;}
.video{padding-bottom:20px;}
.video-right h6{padding-top:6%;}
.overlay-bg{left: 82px;width: 77.3%;}
.banner-content{padding-top: 120px;}
.banner-content h1{font-size: 75px;}
.banner-content h6{font-size: 25px;}
.primary-btn{font-size: 20px;}
#logo{width: 200px;}
#logo a img{width: 100%;}}
@media (max-width:767px){.header-top ul, .nav-menu-container{display:none;}
.banner-content{padding-top: 70px;}
.banner-content h1{font-size: 45px;margin-top: 0; margin-bottom: 40px;}
.banner-content h6{font-size: 14px;}
.video-right h6{padding-top: 6%;}
#header{padding:0 15px; height: 50px;}
#logo{width:110px; display: flex; justify-content: center; align-items: baseline;}
#logo a{padding-top: 12px;}
#header .container .row{align-items: inherit!important;}
#adapt, .menu-body{display: block;}
#menu{display:none;}
.burger{display: block;}
.gallery-area img{width: 100%;}
.title{flex-direction:column!important;}
.counter-row{text-align:center;}}
@media (min-width: 576px) and (max-width: 766px){.page-section .container .row .col-sm-12{margin-bottom: 5%;}
.banner-content h1{font-size: 50px; margin-bottom: 25px; margin-top: 10px;line-height: 1;} .banner-content h6{font-size: 18px;}}
@media (max-width:480px){.header-top ul, .nav-menu-container{display:none;}
.banner-content{padding-top: 140px;}
#logo a img{width:100%;}
.banner-content h1{font-size:50px;}
.overlay-bg{left:15px;width:92.5%;border-radius:6px;}
.video{padding-bottom:20px;}
.video-right h6{padding-top:6%;}
.menu-area, .gallery-area, .review-area{padding:30px 0px;}
.menu-content{padding-bottom:30px;}
.gallery-popup{text-align:center;}
.blog-area{padding:30px 0 0 0;}
.customer-name{margin:10px 0 0 0;}
.star{margin:0;}
footer{padding:170px 0 20px 0;}
footer .container .row .col-lg-4:nth-child(3) .single-footer h6{margin-top:25px;}}
@media (max-width:375px){.overlay-bg{width:92%;}}
@media (max-width:360px){.overlay-bg{width:91.5%;}}
@media (max-width:320px){.header-top ul, .nav-menu-container{display:none;}
#logo a img{width:100%;}
.banner-content h1{font-size:40px;}
.overlay-bg{left:15px;width:90.5%;border-radius:6px;}
.video-right h1{font-size:26px;}
.video-right{padding-left:15px;}
.menu-area .container .row, .review-area .container .row, .blog-area .container .row{margin-right:0px;margin-left:0px;}}